{% extends "site_view/base.html" %}
{% load static %}
{% block isActiveContact %}active{% endblock isActiveContact %}

{% block content %}
<div class="crumbs-area">
    <div class="container">
        <div class="crumb-content">
            <h4 class="crumb-title"><span>Contact </span>Us</h4>
        </div>
    </div>
</div>
<div class="contact-info ptb--120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="cnt-info">
                    <h4>Contact Info</h4>
                    <p>Sumul Dairy Rd, near I C Gandhi school, Haripura, Surat, Gujarat 395008.</p>
                    <ul class="address">
                        <li><i class="fa fa-phone"></i>+91 70690 17730</li>
                        <li><i class="fa fa-phone"></i>+91 72290 72820</li>
                        <li><i class="fa fa-phone"></i>+91 94096 22822</li>
                        <li><i class="fa fa-envelope"></i>info@svpatel.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2162.27503533305!2d72.8394019575283!3d21.212827499495273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04ee555e249f7%3A0xa1d2559a8c0e03c6!2sShri%20Shambhubhai%20Patel%20College!5e0!3m2!1sen!2sin!4v1740225657217!5m2!1sen!2sin" width="100%%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_css %}
{% endblock custom_css %}
