{% extends "site_view/base.html" %}
{% load static %}
{% block isActiveTeacher %}active{% endblock isActiveTeacher %}
{% block content %}
<div class="crumbs-area">
    <div class="container">
        <div class="crumb-content">
            <h4 class="crumb-title"><span>Our</span> teachers</h4>
        </div>
    </div>
</div>

<div class="all-teachers  pt--120 pb--70">
    <div class="container">
        <div class="row">  
            <div class="col-lg-4 col-md-6">
              <div class="card mb-5"> 
                <img src="{% static 'assets/images/staff/cht.webp' %}" alt="image"> 
                <div class="card-body teacher-content p-25">  
                  <h4 class="card-title mb-1">Mr. Chintu Thakkar</h4>
                  <p class="card-text">Principal</p> 
                </div>
              </div>  
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card mb-5"> 
                  <img src="{% static 'assets/images/staff/rv.webp' %}" alt="image"> 
                  <div class="card-body teacher-content p-25">  
                    <h4 class="card-title mb-1">Mrs. Ridhhi Vyas</h4>
                    <p class="card-text">Asst. Professor(H.O.D.)</p> 
                  </div>
                </div>  
              </div>

            <div class="col-lg-4 col-md-6">
              <div class="card mb-5"> 
                <img src="{% static 'assets/images/staff/pkp.webp' %}" alt="image"> 
                <div class="card-body teacher-content p-25">  
                  <h4 class="card-title mb-1">Mrs. Pratiksha Patel</h4>
                  <p class="card-text">Asst. Professor</p> 
                </div>
              </div>  
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="card mb-5"> 
                <img src="{% static 'assets/images/staff/hag.webp' %}" alt="image"> 
                <div class="card-body teacher-content p-25">  
                  <h4 class="card-title mb-1">Mr. Hardik Gangadwala</h4>
                  <p class="card-text">Asst. Professor</p> 
                </div>
              </div>  
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="card mb-5"> 
                <img src="{% static 'assets/images/staff/rp.webp' %}" alt="image"> 
                <div class="card-body teacher-content p-25">  
                  <h4 class="card-title mb-1">Mrs. Rekha Picholiya</h4>
                  <p class="card-text">Asst. Professor</p> 
                </div>
              </div>  
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="card mb-5"> 
                <img src="{% static 'assets/images/staff/pa.webp' %}" alt="image"> 
                <div class="card-body teacher-content p-25">  
                  <h4 class="card-title mb-1">Dr. Piyush Arora</h4>
                  <p class="card-text">Asst. Professor</p> 
                </div>
              </div>  
            </div>

        </div>
    </div>
</div>
{% endblock content %}
{% block custom_css %}
{% endblock custom_css %}
